<div class="temp-video">
    <button class=" btn btn-back" (click)="Return()" > <span class="icon icon-chevron-left"></span> </button>
    <div class="content-video" >
        <video 
            (click)="Play()"
            id="video_here"
            data-html5-video=""
            data-state="visible"
            [controlsList]="['nodownload']"
            (timeupdate)="ProgressBar()"
            muted="true"
            [src]="url+video"
        >
        </video>

        <button class="btn-play icon-play" (click)="Play()" >  </button>
        <div class="bg-control"></div>
        <div class="controls" data-media-control="">
            <div class="progress-bar">

            </div>

            <button class="btn-volume" (click)="Muted()" >   <img src="../../../../../assets/img/volume.svg" alt=""> </button> 
        </div>
    </div>

</div>