<div class="temp-config">

    <div class="header">
        <button class="btn" routerLink=".."> <span class="icon icon-chevron-left"></span> </button>
        <h3 class="font-500 justify-self-center">{{"configuracion.titulo" | translate}}</h3>
    </div>
    <div class="body">

        <div class="section">
            <div class="title">
                <h4>{{"configuracion.seccion_cuenta.titulo" | translate}}</h4>
            </div>

            <button class="btn" (click)="GoPlanes()" >{{"configuracion.seccion_cuenta.btn_planes" | translate}} <span class="icon icon-chevron-right"></span> </button>
            <button class="btn" (click)="GoPacks()" > {{"configuracion.seccion_cuenta.btn_pack" | translate}} <span class="icon icon-chevron-right"></span> </button>
            <!-- <button class="btn">Método de pago <span class="icon icon-chevron-right"></span> </button> -->
            <button class="btn" (click)="GoCuentaAcceso()" > {{"configuracion.seccion_cuenta.btn_acceso" | translate}}  <span class="icon icon-chevron-right"></span> </button>
            <button class="btn" (click)="GoInfo()" > {{"configuracion.seccion_cuenta.btn_informacion" | translate}} <span class="icon icon-chevron-right"></span> </button>
            <button class="btn" (click)="GoNegocio()"> {{"configuracion.seccion_cuenta.btn_negocio" | translate}}  <span class="icon icon-chevron-right"></span> </button>

        </div>

        <div class="section">
            <div class="title">
                <h4>{{"configuracion.seccion_preferencia.titulo" | translate}}</h4>
            </div>

            <button class="btn" (click)="display_lang = true" >{{"configuracion.seccion_preferencia.btn_idioma" | translate}} <span>{{"lang" | translate}}  <span class="icon icon-chevron-right"></span></span> </button>
            
            <div hidden>
                <h4>{{"configuracion.seccion_preferencia.btn_notificaciones" | translate}}</h4>
                <input type="checkbox" class="check-button">
            </div>

            <div hidden >
                <h4>{{"configuracion.seccion_preferencia.btn_mensaje" | translate}}</h4>
                <input type="checkbox" class="check-button">
            </div>

            <div>
                <h4>{{"configuracion.seccion_preferencia.btn_alerta" | translate}}</h4>
                <input type="checkbox" (click)="ChangeAlertPay()"  [checked]="check_alert_plan" class="check-button">
            </div>

        </div>

        <div class="section">
            <div class="title">
                <h4>{{"configuracion.seccion_legales.titulo" | translate}}</h4>
            </div>

            <button class="btn" (click)="GoPoliticas()" >{{"configuracion.seccion_legales.btn_privacidad" | translate}} <span class="icon icon-chevron-right"></span> </button>
            <button class="btn" (click)="GoTermCond()" >{{"configuracion.seccion_legales.btn_terminos" | translate}} <span class="icon icon-chevron-right"></span> </button>
            <button class="btn" routerLink="help"> {{"configuracion.seccion_legales.btn_ayuda" | translate}}  <span class="icon icon-chevron-right"></span> </button>

        </div>  

        <button class="btn btn-block cerrar" (click)="signOut()"> {{"configuracion.btn_cerrar" | translate}} </button>

    </div>

</div>

<div class="container alert" *ngIf="alert">

    <div class="content">
        <button class="btn close" (click)="alert = false" ><span class="icon icon-close"></span></button>

        <h1>{{"configuracion.val_premium.titulo" | translate}}</h1>

        <h4>{{"configuracion.val_premium.parrafo" | translate}}</h4>

        <button class="btn premium" routerLink="planes">{{"configuracion.val_premium.btn_premium" | translate}}</button>
    </div>

</div>


<div class="container alert"  *ngIf="alert_guest">

    <div class="content">
        <button class="btn close" (click)="alert_guest=false"  ><span class="icon icon-close"></span></button>

        <h1>{{"configuracion.val_gest.titulo" | translate}}</h1>

        <h4>{{"configuracion.val_gest.parrafo" | translate}}</h4>

        <button class="btn premium"(click)="GoLanding()" >{{"configuracion.val_gest.btn_premium" | translate}}</button>
    </div>

</div>



<!-- ? IDIOMA ============================================== -->
<div class="bg-card fadeIn"  *ngIf="display_lang">
    <div class="card-option onUp" >
        <div class="card-option-header">
            <button class="btn justify-self-end"> <span class="icon"></span> </button>

            <h3 class=" justify-self-center text-center font-600">{{"landing.title_lang" | translate}}</h3>

            <button class="btn justify-self-end" (click)="CerrarModal()"> <span class="icon icon-close"></span> </button>
        </div>

        <div class="card-option-body">
            <div class="radio-group" style="justify-content: space-between;" >
                <label > Spanish </label>
                <input (click)="SetLang('es')" [(ngModel)]="lang" value="es"  name="lang" type="radio">
            </div>
            <div class="radio-group" style="justify-content: space-between;" >
                <label > English </label>
                <input (click)="SetLang('en')" [(ngModel)]="lang" value="en"  name="lang" type="radio">
            </div>
            <div class="radio-group" style="justify-content: space-between;" >
                <label > German </label>
                <input (click)="SetLang('ge')" [(ngModel)]="lang" value="ge"  name="lang" type="radio">
            </div>
        </div>
    </div>
</div>