<div class="temp-pago">
    <div class="header">
        <button class="btn" (click)="Return()" > <span class="icon icon-chevron-left"></span> </button>
        <h2 class="font-500 justify-self-center"> {{titulo}} </h2>
    </div>

    <div class="body" *ngIf="fase_pago == 0">

        <div class="card-pack-standart" *ngIf="tipo == 0" >
            <img src="../../../../assets/img/diamont-pack.png" alt="">
            <div class="card-pack-top">
                <div class="target" *ngIf="free">
                    <img src="../../../../assets/img/liston.png" alt="">
                    <h5>{{"pack_anuncio.etiqueta" | translate}}</h5>
                </div>
                <div *ngIf="free" class="price">
                    <h1 >€ 0.00</h1>
                    <h2 class="rebaja"> 5.99</h2>
                    <span>/{{"pack_anuncio.mes" | translate}}</span>
                </div>
                <div *ngIf="!free" class="price">
                    <h1 >€ 5.99</h1>
                    <span>/{{"pack_anuncio.mes" | translate}}</span>
                </div>
            </div>

            <div class="card-pack-body">
                <h1 class="font-600">{{"pack_anuncio.at_1.titulo_1" | translate}}  </h1>

                <h3>1 {{"pack_anuncio.anuncio" | translate}}  • 10 {{"pack_anuncio.fotos" | translate}} </h3>
                <h3>5 {{"pack_anuncio.renovaciones" | translate}} </h3>
            </div>

        </div>

        <div class="card-pack-plus" *ngIf="tipo == 1">
            <img src="../../../../assets/img/diamont-pack.png" alt="">
            <div class="card-pack-top">
                <div class="price">
                    <h1 >€ 9.99</h1>
                    <span>/{{"pack_anuncio.mes" | translate}}</span>
                </div>
            </div>

            <div class="card-pack-body">
                <h1 class="font-600">{{"pack_anuncio.at_2.titulo" | translate}} </h1>

                <h3>1 {{"pack_anuncio.anuncio" | translate}} • 10 {{"pack_anuncio.fotos" | translate}} • 1 {{"pack_anuncio.video" | translate}}</h3>
                <h3>10 {{"pack_anuncio.renovaciones" | translate}}</h3>
            </div>

        </div>

        <div class="card-pack-extra" *ngIf="tipo == 2">
            <img src="../../../../assets/img/diamont-pack.png" alt="">
            <div class="card-pack-top">
                <div class="price">
                    <h1 >€ 19.99</h1>
                    <span>/{{"pack_anuncio.mes" | translate}}</span>
                </div>
            </div>

            <div class="card-pack-body">
                <h1 class="font-600">{{"pack_anuncio.at_3.titulo_3" | translate}}</h1>

                <h3>1 {{"pack_anuncio.anuncio" | translate}}  • 10 {{"pack_anuncio.fotos" | translate}} • 2 {{"pack_anuncio.video" | translate}}</h3>
                <h3>30 {{"pack_anuncio.renovaciones" | translate}}</h3>
            </div>

        </div>

        <div class="card-pack-carrusel" *ngIf="tipo == 3">
            <img src="../../../../assets/img/diamont-pack.png" alt="">
            <div class="card-pack-top">
                <div class="price">
                    <h1 >€ 3.99</h1>
                    <span>/{{"pack_anuncio.mes" | translate}}</span>
                </div>
            </div>

            <div class="card-pack-body">
                <h1 class="font-600">{{"pack_anuncio.at_4.titulo-4" | translate}}</h1>

                <h3>1 {{"pack_anuncio.anuncio" | translate}} • {{"pack_anuncio.at_4.dias" | translate}}</h3>
            </div>

        </div>

        <div class="card-pack-reno" *ngIf="tipo >= 4 && tipo < 8">
            <img src="../../../../assets/img/diamont-pack.png" alt="">

            <div class="card-pack-top">
                <h1 class="font-600">{{"pack_anuncio.at_5.titulo" | translate}}</h1>
            </div>

            <div class="card-pack-body">

                <h3>1 {{"pack_anuncio.renovacion" | translate}}: <span class="font-600"> 0.99 EUR </span> </h3>
                <h3>10 {{"pack_anuncio.renovacion" | translate}}: <span class="font-600"> 6.99 EUR </span> </h3>
                <h3>30 {{"pack_anuncio.renovacion" | translate}}: <span class="font-600"> 19.99 EUR </span> </h3>
                <h3>1 {{"pack_anuncio.video" | translate}}: <span class="font-600"> 2.99 EUR </span> </h3>
            </div>

        </div>

        
        <div class="card_plan_premium" *ngIf="tipo == 8">
            <div class="price justify-self-end">
                <h1 >€ 8.99</h1>
                <span>/{{"pack_anuncio.mes" | translate}}</span>
            </div>

            <div class="content"> 
                <h1 class="font-600">{{"plan_premium.card_1.titulo" | translate}}</h1>

                <div class="sections">
                    <span class="icon icon-circle-check"></span>                        
                    <p>{{"plan_premium.card_1.check_1" | translate}}</p>

                    <span class="icon icon-circle-check"></span>                        
                    <p>{{"plan_premium.card_1.check_2" | translate}}</p>

                    <span class="icon icon-circle-check"></span>                        
                    <p>{{"plan_premium.card_1.check_3" | translate}}</p>

                    <span class="icon icon-circle-check"></span>                        
                    <p>{{"plan_premium.card_1.check_4" | translate}}</p>
                </div>

            </div>
        </div>

        <div class="section-pago">
            <h3 class="title">{{"pagos.part_1.metodo_pago" | translate}}</h3>

            <div class="types-pago">

                <div class="text-center">
                    <button class="btn" (click)="SelectMetodo(0)" > <img src="../../../../assets/img/paypal.png" alt=""> </button>
                    <h4 class="font-600">Paypal</h4>
                </div>

                <div class="text-center grid justify-items-center">
                    <button class="btn" (click)="SelectMetodo(1)"> <img src="../../../../assets/img/targetpay.png" alt=""> </button>
                    <h4 class="font-600">{{"pagos.part_2.tarjeta" | translate}}</h4>
                </div>
            </div>

            <p class="text-center" *ngIf="free && fase_pago == 0" >{{"pagos.part_1.cargos" | translate}}</p>
        </div>

    </div>

    <div class="body pago" style="align-content: stretch;" [hidden]="fase_pago != 1">
        
        <div class="total">
            <h4>{{"pagos.part_2.total" | translate}}</h4>

            <h1>€ {{mount}} </h1>
        </div>


        <!-- <div class="metodo-pago">
            <div class="card-method">
                <img src="../../../../assets/img/master-card.png" alt="">
            </div>
            <div class="card-method">
                <img src="../../../../assets/img/visa.png" alt="">
            </div>
        </div> -->
        <div class="form-pago" [hidden]="metodo_pago != 1">
            
            <div class="form-group">
                <label for="">{{"pagos.part_2.tarjeta" | translate}}</label>
                <input 
                    type="text"
                    maxlength="16"  
                    inputmode="numeric" 
                    pattern="[-+]?[0-9]*[.,]?[0-9]+"
                    placeholder="Ingresar número"
                    (keypress)="SoloNumero($event)" 
                    [(ngModel)]="card.number"
                >
            </div>

            <div class="grid gc-2x-g gap-10">
                
                <div class="grid gc-2x-g gap-10">
                    <div class="form-group">
                        <label for="">{{"pagos.part_2.mes" | translate}}</label>
                        
                        <input 
                            type="text" 
                            [placeholder]=" 'pagos.part_2.mes' | translate "
                            (keypress)="SoloNumero($event)" 
                            maxlength="2"  
                            inputmode="numeric" 
                            pattern="[-+]?[0-9]*[.,]?[0-9]+"
                            [(ngModel)]="card.exp_month"
                        >
                    </div>
                    <div class="form-group">
                        <label for="">{{"pagos.part_2.anios" | translate}}</label>
                        <input 
                            type="text" 
                            [placeholder]=" 'pagos.part_2.anios' | translate "
                            (keypress)="SoloNumero($event)" 
                            maxlength="2"  
                            inputmode="numeric" 
                            pattern="[-+]?[0-9]*[.,]?[0-9]+"
                            [(ngModel)]="card.exp_year"
                        >
                    </div>
                </div>
                

                <div class="form-group">
                    <label for="">CVV</label>
                    <input 
                        type="text"
                        (keypress)="SoloNumero($event)" 
                        maxlength="3"  
                        inputmode="numeric" 
                        pattern="[-+]?[0-9]*[.,]?[0-9]+"
                        [(ngModel)]="card.cvc"
                    >
                </div>

            </div>

            <!-- <div class="form-group">
                <label for="">Propietari@</label>
                <input type="text" (keypress)="SoloLetra($event)" placeholder="Nombre del titular">
            </div> -->

        </div>
        
        <h3 class="text-error" *ngIf="error">Complete todos los campos o verifique sus datos.</h3>
        
        <!-- <div class="align-self-center">
            <div id="card" [hidden]="metodo_pago != 1" >

            </div>
    
            
        </div> -->

        <div id="paypal" [hidden]="metodo_pago != 0">
    
        </div>

        <button 
            class=" btn-block" 
            [ngClass]="!(VacioU(card.number) || VacioU(card.exp_month) || VacioU(card.exp_year) || VacioU(card.cvc) )? 'btn-primary':'btn-disable' "
            (click)=" !(VacioU(card.number) || VacioU(card.exp_month) || VacioU(card.exp_year) || VacioU(card.cvc) ) && go()"
        >{{"pagos.part_2.btn_confirmar" | translate}} <span *ngIf="loading" class="icon icon-loader"></span> </button>

    </div>
    

    <div class="body" *ngIf="fase_pago == 2">

        <h4>{{"pagos.part_2.total" | translate}} </h4>

        <div *ngIf="free" class="price">
            <h1 >€ 0.00</h1>
            <h2 class="rebaja"> 5.99</h2>
            <span>/{{"pack_anuncio.mes" | translate}}</span>
        </div>
        <div *ngIf="!free" class="price">
            <h1 >€ 5.99</h1>
            <span>/{{"pack_anuncio.mes" | translate}}</span>
        </div>

        <div class="info-pago">
            <div class="header-info">
                <h4>Información de pago</h4>
                <button class="btn text-primary">Editar</button>
            </div>

            
            <button (click)="go()">asd</button>

            

            <div class="info-card">

                <div class="imagen">
                    <img src="../../../../assets/img/master-card.png" alt="">
                </div>

                <div class="grid">
                    <h3 class="font-600">Luisa Montero</h3>
                    <h4>Número de finalización   ••73</h4>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="done" *ngIf="fase_pago == 3">
    
    <div class="content">
        <img src="../../../../assets/img/checkpay.png" alt="">

        <h1>{{"pagos.part_3.titulo" | translate}}</h1>

        <h3 *ngIf="tipo == 0" >{{"pagos.part_3.parrafo" | translate:{value:'Standar'} }}</h3>
        <h3 *ngIf="tipo == 1" >{{"pagos.part_3.parrafo" | translate:{value:'Plus'} }}</h3>
        <h3 *ngIf="tipo == 2" >{{"pagos.part_3.parrafo" | translate:{value:'Extra plus'} }}</h3>
        <h3 *ngIf="tipo == 3" >{{"pagos.part_3.parrafo" | translate:{value:'Carrusel'} }}</h3>
        <h3 *ngIf="tipo >= 4 && tipo < 8" >{{"pagos.part_3.separado" | translate }}</h3>
        <h3 *ngIf="tipo == 8" >{{"pagos.part_3.plan" | translate }}</h3>
    </div>

    <button class="btn-secondary" (click)="goHome()" >{{"pagos.part_3.btn_home" | translate}}</button>

</div>

<div class="container" *ngIf="loading"> 
    <span class="icon icon-loading loading"></span>
</div>