.temp{
    padding: 10px;
}

*{
    margin: 5px 0px;
    color: #2E2E2E !important;
}

p{
    font-weight: 500 !important;
    margin: 20px 0px !important;
}

ul{
    list-style-type: disc;
}

h3{
    margin: 10px 0px !important;
}

h4{
    font-weight: 400 !important;
    margin: 12px 0px !important;
    padding: 5px;
}

.under{
    text-decoration: underline;
}