<div class="temp grid align-content-start">

    <h1 class="font-600" >TÉRMINOS Y CONDICIONES</h1>

    <h4>
        “LADIESVIP”, es una red social de citas, que invita a toda persona mayor de 18 años que desee participar, registrándose en nuestra web. Para registrarse ha de seguir los pasos a complementar en el formulario de registro.
    </h4>

    <h4>
        La web está destinado exclusivamente a adultos, y además hacemos esta distinción con la finalidad de proteger al menor en la red con todos los medios posibles que tengamos a nuestro alcance, entre otros no poder acceder a los contenidos de la web sin previamente
registrarse y loguearse en “LADIESVIP”.

    </h4>

    <h4>
        Para ser Usuario de “LADIESVIP", es necesario:
    </h4>

    <ul>
        <li>•	Tener como mínimo 18 años.</li>
        <li>•	Tener su domicilio, residir o estar situado en España</li>
        <li>•	Haber leído y aceptado los Términos y Condiciones.</li>
        <li>•	No estar privado de los derechos cívicos.</li>
        <li>•	Completar los campos obligatorios del formulario de suscripción.</li>
    </ul>


    <h4>
        En caso que no reúna estos requisitos en el país desde donde accede a la web, le queda totalmente prohibida la entrada, declinando “LADIESVIP” cualquier responsabilidad. Para cualquier duda siempre puede contactar con nosotros a través del mail info@ladiesvip.es.
    </h4>

    <h4>
        Las presentes Términos y Condiciones de Servicio regulan el acceso y la utilización de la web/app “LADIESVIP”:
    </h4>

    <h3 class="font-600" >1.	Propiedad intelectual</h3>

    <h4>
        La información usada y desplegada en nuestro sitio, incluidos el texto, software, gráficos, ilustraciones, animaciones, vídeos, nombres, logotipos, grafismos y marcas, es propiedad de “LADIESVIP”, está protegida por las Leyes Internacionales de Propiedad Intelectual e Industrial. Cualquier información puede usarse solamente para su
uso personal, no comercial y no pueden ser reproducidos, utilizados o representados, en cualquier soporte y por cualquier medio técnico sin la
 
autorización expresa de LADIESVIP, en caso contrario se instarán las oportunas acciones judiciales.

    </h4>

    <h4>
        El acceso a dichos contenidos o elementos a través del Sitio Web/app no otorga al usuario el derecho de alteración, modificación, explotación o reproducción, distribución, comunicación pública o cualquier otro derecho que corresponda al titular del derecho afectado. El usuario se compromete a utilizar los contenidos y/o elementos a los que acceda a través de “LADIESVIP” para su propio uso y necesidades, y a no realizar en ningún caso una explotación comercial, directa o indirecta de los mismos, así como las páginas del Sitio o los códigos
informáticos de los elementos que componen los Servicios y el Sitio.

    </h4>


    <h3  class="font-600">
        1.a.	Derechos cedidos por los Usuarios
    </h3>

    <h4>
        Los Usuarios son titulares de los derechos de propiedad intelectual de los contenidos e informaciones publicados en el Sitio y conceden a LADIESVIP, anunciando o transmitiendo información al Sitio Web/app el derecho no exclusivo de usar, reproducir, transformar, modificar y distribuir o comunicar tal información en relación con el funcionamiento del sitio “LADIESVIP” y su uso como colaboración en otros sitios.
    </h4>

    <h4>
        Esta licencia de explotación comprende el derecho de LADIESVIP a reproducir, representar, adaptar, traducir, digitalizar y utilizar para los fines del Servicio, los contenidos e informaciones públicas relativas a los Usuarios (imágenes, videos, etc.), en todo o parte de los Servicios de LADIESVIP (en el Sitio, por mail, etc.), en los correos de LADIESVIP y más generalmente, en cualquier soporte de comunicación electrónica utilizado (Internet, mails, SMS, MMS, WAP) en el marco de los Servicios.
    </h4>

    <h4>
        Los Usuarios autorizan expresamente a LADIESVIP a modificar los contenidos públicos mencionados anteriormente de forma que se respete el software y el hardware de los Servicios de LADIESVIP o los otros soportes de comunicación indicados y/o hacerlos compatibles con sus características técnicas o con los respectivos formatos de soporte.
    </h4>


    <h4>
        Estos derechos son concedidos por los Usuarios en toda Europa y durante toda la duración del contrato entre el Usuario y LADIESVIP. Los Usuarios tienen prohibido copiar, reproducir o utilizar a título personal y privado los contenidos relacionados con los otros Usuarios para otros fines que no sean los propios de los Servicios, en caso contrario se instarán las oportunas acciones judiciales.
    </h4>


    <h3 class="font-600">2.	Protección de Datos</h3>

    <h4>
        El Usuario consiente y autoriza expresamente e inequívocamente, mediante el mero registro al Portal, a que sus datos de carácter personal sean: (1) incorporados a un fichero de datos titularidad y responsabilidad de “LADIESVIP” y (2) tratados de conformidad con los fines establecidos en la Política de Privacidad que hemos redactado en relación a lo establecido al RGPD. Ud. podrá revocar su consentimiento en cualquier momento enviándonos un escrito a info@ladiesvip.es y podrá ponerse en contacto ante la autoridad competente en Protección de Datos de su país siendo en España la Agencia Española de Protección de Datos www.agpd.es.
    </h4>


    <h3 class="font-600">3.	Información sobre aspectos técnicos y de contenidos</h3>

    <h4>
        “LADIESVIP” no asume ningún tipo de responsabilidad en problemas técnicos que puedan surgir durante el uso de la web como: caída del servidor, actualización y precisión de los datos, labores de mantenimiento, insuficiente capacidad para soportar los sistemas informáticos necesarios para la utilización del servicio ofrecido, etc...Tampoco “LADIESVIP” asume responsabilidad en la falta de veracidad e integridad de los usuarios que utilizan la web, “LADIESVIP” únicamente actúa como intermediario.
    </h4>

    <h3 class="font-600">4.	Uso del sitio web</h3>


    <h4>
        Con los límites establecidos en la ley, el usuario asumirá todo tipo de responsabilidad legal derivada del uso incorrecto, inapropiado o ilícito de la página web/app, como puede ser: a) usar cualquier dispositivo, software, virus, malware, etc o rutina para interferir o intentar interferir el buen funcionamiento del sitio, b)el uso de “phishing”, o suplantación de la identidad de otra persona actuando en su nombre, c) el uso de la página web/app para publicitarse a través de la presencia de links, marketing on-line o cualquier otro medio que pudiera suponer el uso de publicidad fraudulenta, d) La publicación de cualquier contenido que resulte amenazante, violento, abusivo, ilegal y
 
xenófobo.
En todos estos casos y en los casos que crea convenientes, “LADIESVIP” excluirá al usuario de su acceso a los contenidos de la página web y app y podrá poner el contenido a disposición de las Autoridades competentes.
    </h4>


    <h3 class="font-600"> 5.	Compras.</h3>

    <h4>
        Puede descargarse nuestra app desde Google Play Store o App Store de Apple. LADIESVIP se encuentra en varios países, y nuestros precios varían por diversos factores. Con frecuencia ofrecemos tarifas promocionales, que pueden variar en función de la región, la duración de la suscripción, el tamaño del paquete, etc. También probamos con regularidad nuevas funciones y opciones de pago. Le recomendamos que visite nuestras tarifas desde el país que acceda. El pago se puede realizar bien por tarjeta de débito/crédito o por Paypal.
    </h4>

    <h4 class="under">Usuarios</h4>

    <h4>
        Los usuarios pueden ser Free o Premium(en este caso pasan a ser anunciantes) 
    </h4>

    <h4 class="under">Anunciantes</h4>

    <h4>
        Los usuarios que deseen anunciarse en la web/app LADIESVIP y se anuncien abonando una cantidad mensualmente a la Website/app, se les informa que aquellos anunciantes/Clientes que deseen contratar los servicios de publicitarse en nuestra web, pueden hacerlo directamente en la web/app o poniéndose en contacto con nosotros directamente a través del correo electrónico info@ladiesvip.es que una vez hayan contratado los servicios, el primer mes será gratuito y posteriormente se contrataran packs.
    </h4>

    <h4>
        A continuación mostramos los packs que puede contratar:
    </h4>

    <h4>●	Pack de promoción de anuncios. Para crear anuncios es necesario contar con un paquete de anuncios, estarán definidos de la siguiente manera:</h4>
    <h4>○	Plan Standard: Contiene, un anuncio, 5 renovaciones/boost por 5.99 eur/mes</h4>
    <h4>○	Plan Plus: Contiene un anuncio, 10 renovaciones/boost por 9.99 eur/mes</h4>
    <h4>○	Plus Extra: Contiene un anuncio, 30 renovaciones/boost por 19.99 eur/mes</h4>
    <h4>○	Renovaciones por separado: Contiene■1 renovación por 0.99 eur■10 renovaciones por 6.99 eur■20 renovaciones por 19.99 eur■1 video: 2.99 eur.</h4>
    <h4>○	PromoCarrusel: Para que el anuncio aparezca en el carrusel de promoción se debe pagar plana.3.99eur; Se paga esta cantidad para que aparezca un tiempo x determinado.</h4>

    <h3>
        Desistimiento
    </h3>

    <h4>
        Los anunciantes tienen derecho a desistir de la contratación en curso en el plazo de 14 días desde que se contrató los servicios y a la devolución del dinero en el plazo de 1 mes, de acuerdo con lo dispuesto en la Ley 7/1996 de Ordenación del Comercio Minorista (LCM), modificada por la Ley 47/2002 de 19 de diciembre, y el Real Decreto Legislativo 1/2007 por el que se aprueba la Ley General de Defensa de los Consumidores y Usuarios. El Cliente podrá llevar a cabo sus derechos enviando un mensaje, a info@ladiesvip.es indicando los motivos de la devolución a LADIESVIP se pondrá en contacto con el Cliente en la mayor brevedad posible, analizando lo indicado en el mensaje para su posterior respuesta.
    </h4>

    <h4>
        Una vez realizada la compra, por norma general, los cargos por compras no son reembolsables y no se ofrecen reembolsos ni créditos por suscripciones parcialmente utilizadas. La devolución se podrá realizar siempre que el Cliente no haya hecho uso del servicio alegando LADIESVIP los motivos recogidos en el art.45 de la Ley de Comercio Minorista(LCM)como excepción.
    </h4>


    <h4>
        Si ha adquirido un Servicio de Pago a través de la App Store/Google Play y desea cancelarlo dentro de los 14 días posteriores a la Compra, Apple/Google gestiona las cancelaciones y reembolsos de acuerdo con sus propios términos y condiciones, que no controlamos. Para solicitar un reembolso, debe iniciar sesión con su ID de Apple/Google y seguir las instrucciones de cancelación y reembolso de Apple/Google.
    </h4>

    <h3 class="font-600">
        6.	LSSI/CE
    </h3>

    <h4>
        En relación con la Ley 34/2002 de Servicios de la Sociedad de la Información y del Comercio Electrónico(LSSI/CE)le informamos que se puede poner en contacto a través de email en cualquier momento a info@ladiesvip.es o a través de vía postal al responsable de la web/app:
    </h4>

    <h4>
        Robert Alexandru Rotaru <br>

        Avda. de la Unión Europea <br>

        Centro Comercial Soneland, planta 3, oficina 36. <br>
        San Bartolomé de Tirajana(Gran Canaria)
    </h4>


    <h3 class="font-600">
        7.	Consentimiento y Jurisdicción
    </h3>

    <h4>
        Usted está de acuerdo con las condiciones descritas y Ud. como usuario asume cualquier tipo de responsabilidad legal si incumpliera los términos aquí descritos, renunciando a cualquier fuero legal expresamente, siendo competentes los Tribunales y Juzgados de Las Palmas de Gran Canaria (España).
    </h4>

    <h4>
        Si usted tiene alguna duda sobre los términos establecidos contacte con nosotros en  info@ladiesvip.es.
    </h4>

    <h4>
        “LADIESVIP” se reserva el derecho de modificar el contenido de las condiciones aquí descritas, sin previo aviso, con el objeto de adaptarlo a las novedades legislativas o jurisprudenciales, publicando siempre las modificaciones en su página web.
    </h4>

</div>