<div class="template-mensaje">

    <div class="mensaje-filtro">
        <h1 class="font-600">Mensajes</h1>
        <div class="group-input-icon-left">
            <span class="icon icon-search"></span>
            <input type="text" placeholder="Buscar">
        </div>
    </div>

    <div class="mensaje-content-chats">
        <div class="card-chat">
            <div class="card-chat-img">
                <img src="../../../assets/img/user_example.jpg" alt="">
            </div>

            <div class="grid" style="padding: 2px 0px ;">
                <h4 class="font-600">Santiago López</h4>
                <p>Genial, la pasaremos in....</p>
            </div>

            <div class="grid">
                <h4>3 min</h4>
            </div>
        </div>

        <div class="card-chat">
            <div class="card-chat-img">
                <img src="../../../assets/img/mensajes/user_sms.jpg" alt="">
            </div>

            <div class="grid" style="padding: 2px 0px ;">
                <h4 class="font-600">Santiago López</h4>
                <p>Genial, la pasaremos in....</p>
            </div>

            <div class="grid">
                <h4>3 min</h4>
            </div>
        </div>

        <div class="card-chat">
            <div class="card-chat-img">
                <img src="../../../assets/img/mensajes/user_sms.jpg" alt="">
            </div>

            <div class="grid" style="padding: 2px 0px ;">
                <h4 class="font-600">Santiago López</h4>
                <p>Genial, la pasaremos in....</p>
            </div>

            <div class="grid">
                <h4>3 min</h4>
            </div>
        </div>

    </div>

</div>